* {
    background-color:beige ; 
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.head-main,
.head-sub {
    color: darkred;
    font-weight: bold;
}

img {
    height:400px;
    width:auto;
}

