* {
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    background-image: url(./images/veggies.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    margin: auto;
    background-color: beige;
    max-width: 1000px;
    height: 1700px;
    padding-top: 5px;
    border: 15px solid darkred;
}
 
h1,
h2,
h4 {
    color: darkred;
    font-weight: bold;
}

hr {
   height: 12px;
   background: linear-gradient(darkred, beige);
   margin: 0 20px 20px 20px;
}

.heading {
    text-align: center; 
    font-size: 70px;   
}

img {
    height:400px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid brown;
   }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}