* {
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    background-color: brown;
}

div {
    background-color: beige;
}
 
h1,
h2,
h4 {
    color: darkred;
    font-weight: bold;
}

img {
    height:400px;
    width:auto;
   }